function FindProxyForURL(url, host)
  {

      if ({% for line in whitelist %}shExpMatch(host,"*{{ line }}") ||
          {% endfor %}shExpMatch(host,""))
          return "PROXY {{ ansible_ssh_host }}:3128";

}
